.intLinks {
    height: 100vh;
    /* background-color: rgb(134, 134, 248); */
    /* background-image: linear-gradient(#000, rgb(14, 79, 86)); */
    background-image: linear-gradient(#000, rgb(91, 106, 164));
}


.intLinks-title {
    /* max-width: 85vw; */
    margin: 3vh 10vw;
    padding-top: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: Poppins; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    text-align: left;
    color: darkblue;
    color: #fff;
    color: #888;
    /* background-color: aqua; */
}


@media (min-width: 375px) {
    .intLinks-title {
        font-size: 2rem;
        ;
    }
}

@media (min-width: 640px) {
    .intLinks-title {
        font-size: 3rem;
    }
}



/* ---------- break points for desktop ---------- */

@media (min-width: 1025px) {
    .intLinks-title {
        font-size: 3.5rem;
    }
}






.menuitemLink a {
    /* max-width: 85vw; */
    margin: 0 10vw;
    /* padding-top: 10vh; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: Poppins; */
    /* font-family: 'Josefin Sans', sans-serif; */
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: left;
    color: #fff;
    list-style: none;
    text-decoration: none;
    transition: 0.3s;

}

.menuitemLink a:hover {
    text-decoration: none;
    /* color: #888; */
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 100;
}

.enuitemLinkitem a:visited {
    text-decoration: none;
    color: #888;
}