.logoSubpage {
    padding: 15vh 0 5vh 0;
}


/* ---------- break points for desktop ---------- */

@media (min-width: 1025px) {
    .logoSubpage {
        padding: 10vh 0 5vh 0;
    }
}

.subPageTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
}