.MountainRange {
    height: 60vh;
    width: 100vw;
    color: white;
    font-size: 3rem;
    /* font-family: 'Josefin Sans', sans-serif; */
    display: flex;
}


.left-panel {
    width: 50%;
    padding: 5vh 3vw 5vh;
    /* background-color: darkmagenta; */
    background-color: rgb(58, 58, 58);
    background-color: rgb(13, 13, 52);
    /* background-color: #000; */
    /* border-top: 1px solid #fff; */
    border-top: 2px solid #888;
}

.left-panel p {
    color: #777;
}


.RangeName {
    font-size: 8rem;

}

.right-panel {
    width: 50%;
    /* background-color: green; */
    background-color: rgb(58, 58, 58);
    background-color: rgb(13, 13, 52);

    /* background-color: #000; */
    /* border-top: 1px solid #fff; */
    border-top: 2px solid #888;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5vh 2vw 1vh;
}

.RangePhotoFrame {
    width: 80%;
    height: 80%;
    background-color: yellow;
}

.RangePhoto {
    width: 100%;
    height: 100%;
    background-color: yellow;
}





.photo-desc {
    width: 80%;
    padding-top: 5px;
    color: #fff;
    font-size: 2rem;
    /* border-top: 2px solid white; */
    border-top: 2px solid #888;

    text-align: center;
}